body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: white; */
    padding: 15px 20px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    /* color: white; */
    font-weight: bold;
}
.sec1 {
    text-align: center;
    background: linear-gradient(45deg, #ff9800, #ff5722);
    color: white;
    padding: 10px 20px;
}
.products {
    padding: 20px;
    text-align: center;
}
.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.product {
    background: white;
    /* padding: 15px; */
    padding: 45px;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 4px 6px;
    width: 200px;
    height: 300px;
}
.product img {
    width: 100%;
    border-radius: 5px;
}
.product h3 {
    margin: 10px 0;
}
.product p {
    font-size: 16px;
    color: #e65100;
}
button {
    background-color: #ff6f00;
    color: white;
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}
button:hover {
    background-color: #e65100;
}
footer {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #333;
    color: white;
    /* text-align: center; */
    padding: 10px;
    margin-top: 20px;
}